* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f1;
    font-family: 'Roboto', sans-serif;
}

header, main {
    margin: 0 auto;
    text-align: center;
}

header {
    width: 60%;
}

header h1 {
    padding: 3.75rem 0 1.875rem 0;
    text-transform: uppercase;
}

header p {
    padding-bottom: 3.125rem;
    line-height: 1.875rem;
}

main {
    width: 80%;
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    gap: .9375rem;
}

.card {
    width: calc(100% / 3 - .625rem);
    background-color: white;
    margin-bottom: 3.125rem;
}

.card .immagine img {
    display: block;
    width: 100%;
    object-fit: contain;
}

h4.nome {
    padding: 1.25rem 0 .625rem 0;
    font-family: 'Bodoni Moda', serif;
}

p.ruolo {
    padding-bottom: .9375rem;
}